textarea#custom_function {
  width: 400px;
  height: 200px;
}

a.button {
  float: left;
  padding: 5px;
  margin: 5px;
  color: black;
  background-color: #00ff00;
  border-radius: 5px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a.button.red {
  background-color: #FF5500;
}

h3 {
  margin-top: 10px;
  margin-bottom: 0px;
}
